body{

    background-color:#00203FFF;
}

#title{
 padding-bottom: 5%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(173,239,209,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color:#ADEFD1FF;
  }

  .nav-color{
      color:#ADEFD1FF;
      opacity:0.7;
 }
 .nav-color:hover{
     opacity:1;
 }
 .activ{
    opacity:1;
 }
 .navbar-brand-color{
     color:#ADEFD1FF;
     font-size: 3rem;
 }

 nav{
    font-family: 'Permanent Marker', cursive;
 }

.header{
    position: relative;
}

.first{
    opacity:0;
}
 /* .box{
     height:200px;
     width:200px;
     position:absolute;
     background-color: seagreen;;
 }
 .bo{
    height:200px;
    width:200px;
    position:absolute;
    z-index: 2;
    top:40px;
    left:40px;
 }
 .u{
    border: solid seagreen;
 }

 .d{

     top:80px;
     left:80px;
 } */





 /* HEADER */
 .header{
     padding-top: 7rem;
     padding-bottom: 7rem;
 }
 .img{
     text-align:center;

 }
 .image{
     width:20rem;
     border-radius: 100%;
 }
 .head{
    font-family: 'Architects Daughter', cursive;
    font-size:2rem;
    color:#ADEFD1FF;

 }
 .follow{
     color:#ADEFD1FF;
     font-size: 1rem;
     font-family: 'Architects Daughter', cursive;
font-family: 'Special Elite', cursive;
 }




 /* About */
 /* .about{
     position: relative;
 }
 .back{
     background:url("https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    position: absolute;
    height: 400px;
    width:400px;
    }
.over{
    background-color:#00203FFF;
    opacity:0.7;
    position: absolute;
    height: 400px;
    width:400px;
}
.tex{
    position: absolute;
    height: 400px;
    width:400px;
} */
.f{
    min-height:100%;
  background:url(https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) rgba(0, 32, 63, 0.7);
  background-size: 100% 100%;;
  background-blend-mode: multiply;
}

.abt{
    color:#ADEFD1FF;
    padding:7%;
}
.h1{
    font-family: 'Permanent Marker', cursive;
    font-size:60px;
    color:#ADEFD1FF;
    padding-top:4%;
}
.mat{
    font-family: 'Dancing Script', cursive;
    font-size:25px;

}


.im{
   width:100%;

}

.ss{
    min-height:100%;
  background:url(https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=756&q=80) rgba(0, 32, 63, 0.7);
  background-size: 100% 100%;;
  background-blend-mode: multiply;
}
.bttn{
    padding:0 5% 0;
}
.b{
    border:solid black;
    padding:5%;
    margin:5%;

}
.p2{
    font-family: font-family: 'EB Garamond', serif;
    font-size:20px;
}
.pl{
    padding:1px;


}

.checked {
    color:#ADEFD1FF;
}
.fa-star-half-o{
    color:#ADEFD1FF;
    border-color: #00203FFF;
}


.a{
    margin-bottom:10px;
}

.i{
    width:60%;
}

.lin{
    color:white;
    text-decoration: none;
}
.lin:hover{
    color:white;
    text-decoration: none;
}
.lin:visited{
    color:white;
    text-decoration: none;

}
.lin:active{
    color:white;
    text-decoration: none;
}

.cerp{
    color:#ADEFD1FF;
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.b1{

    border:solid black;
    padding:5%;
    margin:5%;
    padding-top:2%;
    margin-bottom:1%;
    margin-top:2%;
    padding-bottom:0;
}

.cb{

        min-height:100%;
      background:url(https://images.unsplash.com/photo-1527345931282-806d3b11967f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80) rgba(0, 32, 63, 0.7);
      background-size: 100% 100%;;
      background-blend-mode: multiply;
      padding-bottom:10px;

}
.btnn{
    padding-top:0;
    padding-bottom:0;
    padding-left: 3%;
    padding-right: 3%;
}



.ul{
    list-style-type:none;
}
.li{
    padding-bottom:5px;
}
.ihid{
    display:none;
}
.hd:hover + ihid{
    display:block;
}

.lb{
    min-height:100%;
    background:url(lang.png);
    background-size: 100% 100%;;
    background-blend-mode: multiply;
}


.footer{
    background-color:rgba(173,239,209,0.5);

    padding-bottom:1%;text-align:center;width:100%;

}
.fdata{
    text-align:center;
    color:#00203FFF;
    font-family: 'Spectral', serif;
    font-size:1.5rem;

}

.ftt{
    padding-top:20%;

}
@media screen and (max-width: 991px)
{
    .ftt{
        padding-top:2%;
    }
}
.fi{
  font-size:36px;
  transition:0.5s;
}
.fi:hover{
    font-size:50px;
}

@media screen and (max-width: 991px){
    .h1{
        font-size:30px;
    }
}


/* HEART IN FOOTER  */
.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 25px;
    animation: pulse 1s ease infinite;
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }





  /* .hoverable {
    cursor:default;
    color:#000;
    text-decoration:none;
    transition:5s;
  }
  .hoverable .hover {
    display:none;
    transition:5s;

  }
  .hoverable:hover .normal {
    display:none;
    transition:5s;
  }
  .hoverable:hover .hover {
    transition:5s;
    display:inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
  } */
.bttn{
  background-color:#00203FFF;
  color:#ADEFD1FF;
}

/* .center{

  margin:0;
  padding:0;
} */
iframe{

    display:block;

  margin:auto;

  width: 72vw;
  height: 60vh;
}
.project_back{
  min-height: 100%;
  background:url(https://images.unsplash.com/photo-1534609146522-5d8de8a10058?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) rgba(0, 32, 63, 0.7);
  background-size: 100% 100%;;
  background-blend-mode: multiply;
  padding-bottom: 10%;
}

.select{
  cursor: pointer;
}
.cont{
display:none;
}
.cont2{
display:block;}

.onn{

}

#idd{

  }

#sec{
  left: 100px;
}
